*, *::after, *::before {
    box-sizing: inherit;
    scroll-behavior: inherit;
}
:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
    --ft-size-nm: 1.125rem;
    --ft-size-nm: clamp(1rem, .25vw + .9rem, 3rem);
    --ft-size-md: 1.25rem;
    --ft-size-md: clamp(1rem, .3vw + .95rem, 3rem);
    --ft-size-lg: 1.75rem;
    --ft-size-lg: clamp(1.5rem, 0.6vw + 1.125rem, 4rem);
    --ft-size-xl: 2.5rem;
    --ft-size-xl: clamp(2rem, 0.9vw + 1.35rem, 5rem);
    --ft-size-2xl: 3rem;
    --ft-size-2xl: clamp(2.5rem, 1.15vw + 1.45rem, 6rem);
    --ft-size-3xl: 3.5rem;
    --ft-size-3xl: clamp(2.75rem, 1.35vw + 2.25rem, 7rem);
    --ft-size-4xl: 4.5rem;
    --ft-size-4xl: clamp(3rem, 1.45vw + 3rem, 8rem);
    --ft-size-5xl: 6rem;
    --ft-size-4xl: clamp(3rem, 2vw + 3.5rem, 10rem);
    --ft-line-h-nm: 1.6rem;
    --ft-line-h-nm: clamp(1.25rem, .1vw + 1.2rem, 3rem);
}
body {
    font-size: var(--ft-size-nm);
    line-height: 1.5em;
}
h1 {
    font-size: var(--ft-size-4xl);
    font-weight: 900;
}
h2 {
    font-size: var(--ft-size-3xl);
    font-weight: 800;
}
h3 {
    font-size: var(--ft-size-2xl);
    font-weight: 800;
}
h4 {
    font-size: var(--ft-size-xl);
    font-weight: 700;
}
h5 {
    font-size: var(--ft-size-lg);
    font-weight: 700;
}
h6 {
    font-size: var(--ft-size-md);
    font-weight: 600;
}

a {
    all: unset;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
a:hover, a:focus-visible, a:active {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin-inline: 0;
    margin-block: 1em;
    line-height: 1;
}
blockquote {
    margin-block: 1em;
    margin-inline: 2em;
    padding-inline-start: 1ch;
    border-inline-start: .2ch solid black;
}
b {
    font-weight: 700;
}
i {
    font-style: italic;
}
u {
    text-decoration: underline;
}
em {
    font-style: italic;
}
strong {
    font-weight: 800;
}
q {
    display: inline;
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}
textarea {
    writing-mode: horizontal-tb !important;
    font-weight: normal;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: inherit;
    column-count: initial !important;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 1%;
    padding: .1em;
    outline: none;
}
textarea:focus, textarea:active {
    outline: none;
}
textarea:focus-visible {
    outline: 1px solid black;
}

input:where(:hover, :focus, :active) {
    outline: none;
}
input:where([type=text], [type=email], [type=tel], [type=search],
[type=password], [type=number], [type=color],
[type=date], [type=datetime], [type=datetime-local],
[type=month], [type=week], [type=time]) {
    outline: none;
    border: 1px solid black;
    cursor: text;
}
input:where([type=file], [type=radio], [type=color], [type=checkbox]) {
    cursor: pointer;
}
input[type=range] {
    cursor: e-resize;
}


button,
input:where([type="button"],[type=submit],[type=reset]) {
    padding: 0;
    margin: 0;
    padding-inline: .5ch;
    border: none;
    outline: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    color: inherit;
    display: inline;
}
:where(button, input:where(
    [type=button], [type=submit], input[type=reset]
)):is(:hover, :focus-visible, :active) {
    outline: 2px solid black;
    border-radius: 0.25rem;
}
:where(button, input:is([type="button"],[type=submit],[type=reset])):disabled {
    cursor: not-allowed;
    outline: none;
}

thead {
    text-decoration: underline;
}
th {
    font-weight: 700;
    text-align: center;
}
td {
    font-weight: 400;

}
th, td{
    padding: .25em;
    border-color: black;
    border-bottom: .1rem solid;
    text-align: center;
}
tr:last-of-type :is(th, td)  {
    border-bottom: none;
}
tr > :first-child:not([colspan])  {
    text-align: start;
}
@supports(border-block: inherit) {
    th, td{
        border-bottom: 0;
        border-block-end: .1rem solid;
    }
}

summary::marker {
    font-family: Arial, sans-serif;
    content: '▶';
    width: 1.5ch;
    height: 1.5ch;
}
details[open] summary:first-of-type::marker {
    content: '▼';
}