:root {
    /*External Vars and fallbacks*/
    --cs-main-dark: var(--cs-cfg-main-dark, hsl(0 0% 10%));
    --cs-main-light: var(--cs-cfg-main-light, hsl(0 0% 90%));
    --cs-accent-dark-sm: var(--cs-cfg-accent-dark-sm, hsl(0 0% 25%));
    --cs-accent-dark-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 50%));
    --cs-accent-light-sm: var(--cs-cfg-accent-light-sm, hsl(0 0% 80%));
    --cs-accent-light-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 50%));

    /*Root Css*/
    color-scheme: dark light;
}
/*Schemata */
.cs-light {
    color-scheme: light;
}
.cs-dark {
    color-scheme: dark;
}

.cs-default {
    --cs-main-dark: hsl(0 0% 10%);
    --cs-main-light: hsl(0 0% 90%);
    --cs-accent-dark-sm: hsl(0 0% 25%);
    --cs-accent-dark-lg: hsl(0 0% 50%);
    --cs-accent-light-sm: hsl(0 0% 80%);
    --cs-accent-light-lg: hsl(0 0% 50%);
}
.cs-accent-blue {
    --cs-accent-dark-sm: hsl(240 60% 30%);
    --cs-accent-dark-lg: hsl(240 75% 40%);
    --cs-accent-light-sm: hsl(240 75% 85%);
    --cs-accent-light-lg: hsl(240 75% 70%);
}
.cs-accent-blue-yellow {
    --cs-accent-dark-sm: hsl(240 60% 30%);
    --cs-accent-dark-lg: hsl(49 80% 30%);
    --cs-accent-light-sm: hsl(240 60% 85%);
    --cs-accent-light-lg: hsl(49 60% 75%);
}
.cs-accent-blue-yellow-intense {
    --cs-accent-dark-sm: hsl(240 100% 40%);
    --cs-accent-dark-lg: hsl(49 100% 40%);
    --cs-accent-light-sm: hsl(240 100% 75%);
    --cs-accent-light-lg: hsl(49 100% 75%);
}
.cs-main-blue {
    --cs-main-dark: hsl(240 20% 10%);
    --cs-main-light: hsl(240, 50%, 90%);
} 

/* Apply Scheme */

html, .cs-light {
    background-color: var(--cs-main-light);
    color: var(--cs-main-dark);
}

hr {
    border-color: var(--cs-accent-dark-sm);
}

a, abbr, q, em {
    color: var(--cs-accent-dark-sm);
}
cite, strong {
    color: var(--cs-accent-dark-lg);
}
textarea {
    border-color: var(--cs-accent-light-sm);
}
textarea:focus-visible {
    border-color: var(--cs-accent-light-lg);
    outline: none;
}
input[type=text], input[type=email], input[type=tel], input[type=search],
input[type=password], input[type=number], input[type=color],
input[type=date], input[type=datetime], input[type=datetime-local],
input[type=month], input[type=week], input[type=time] {
    border-color: var(--cs-accent-light-sm);
}
input[type=text]:focus-visible, input[type=email]:focus-visible, input[type=tel]:focus-visible, input[type=search]:focus-visible,
input[type=password]:focus-visible, input[type=number]:focus-visible, input[type=color]:focus-visible,
input[type=date]:focus-visible, input[type=datetime]:focus-visible, input[type=datetime-local]:focus-visible,
input[type=month]:focus-visible, input[type=week]:focus-visible, input[type=time]:focus-visible {
    border-color: var(--cs-accent-dark-sm);
}

button:hover, button:focus-visible,
input[type=button]:hover, input[type=button]:focus-visible,
input[type=submit]:hover, input[type=submit]:focus-visible,
input[type=reset]:hover, input[type=reset]:focus-visible {
    outline-color: var(--cs-accent-dark-lg);
}

/*General dark mode*/
@media(prefers-color-scheme: dark) {
    html, .cs-dark {
        background-color: var(--cs-main-dark);
        color: var(--cs-main-light);
    }
    hr {
        border-color: var(--cs-accent-light-sm);
    }
    a, abbr, q, em {
        color: var(--cs-accent-light-sm);
    }
    cite, strong {
        color: var(--cs-accent-light-lg);
    }
    textarea {
        border-color: var(--cs-accent-dark-sm);
    }
    textarea:focus-visible {
        border-color: var(--cs-accent-dark-lg);
        outline: none;
    }
    input[type=text], input[type=email], input[type=tel], input[type=search],
    input[type=password], input[type=number], input[type=color],
    input[type=date], input[type=datetime], input[type=datetime-local],
    input[type=month], input[type=week], input[type=time] {
        border-color: var(--cs-accent-dark-sm);
    }
    input[type=text]:focus-visible, input[type=email]:focus-visible, input[type=tel]:focus-visible, input[type=search]:focus-visible,
    input[type=password]:focus-visible, input[type=number]:focus-visible, input[type=color]:focus-visible,
    input[type=date]:focus-visible, input[type=datetime]:focus-visible, input[type=datetime-local]:focus-visible,
    input[type=month]:focus-visible, input[type=week]:focus-visible, input[type=time]:focus-visible {
        border-color: var(--cs-accent-light-sm);
    }
    
    button:hover, button:focus-visible,
    input[type=button]:hover, input[type=button]:focus-visible,
    input[type=submit]:hover, input[type=submit]:focus-visible,
    input[type=reset]:hover, input[type=reset]:focus-visible {
        outline-color: var(--cs-accent-light-lg);
    }
}

/*Special light mode */
.cs-light hr {
    border-color: var(--cs-accent-dark-sm);
}
.cs-light a,
.cs-light abbr,
.cs-light q,
.cs-light em {
    color: var(--cs-accent-dark-sm);
}
.cs-light cite,
.cs-light strong{
    color: var(--cs-accent-dark-lg);
}

.cs-light textarea {
    border-color: var(--cs-accent-light-sm);
}
.cs-light textarea:focus-visible {
    border-color: var(--cs-accent-light-lg);
    outline: none;
}
.cs-light input[type=text], .cs-light input[type=email], .cs-light input[type=tel], .cs-light input[type=search],
.cs-light input[type=password], .cs-light input[type=number], .cs-light input[type=color],
.cs-light input[type=date], .cs-light input[type=datetime], .cs-light input[type=datetime-local],
.cs-light input[type=month], .cs-light input[type=week], .cs-light input[type=time] {
    border-color: var(--cs-accent-light-sm);
}
.cs-light input[type=text]:focus-visible, .cs-light input[type=email]:focus-visible, .cs-light input[type=tel]:focus-visible, .cs-light input[type=search]:focus-visible,
.cs-light input[type=password]:focus-visible, .cs-light input[type=number]:focus-visible, .cs-light input[type=color]:focus-visible,
.cs-light input[type=date]:focus-visible, .cs-light input[type=datetime]:focus-visible, .cs-light input[type=datetime-local]:focus-visible,
.cs-light input[type=month]:focus-visible, .cs-light input[type=week]:focus-visible, .cs-light input[type=time]:focus-visible {
    border-color: var(--cs-accent-dark-sm);
}

.cs-light button:hover, .cs-light button:focus-visible,
.cs-light input[type=button]:hover, .cs-light input[type=button]:focus-visible,
.cs-light input[type=submit]:hover, .cs-light input[type=submit]:focus-visible,
.cs-light input[type=reset]:hover, .cs-light input[type=reset]:focus-visible {
    outline-color: var(--cs-accent-dark-lg);
}


/*Special dark mode*/
.cs-dark hr {
    border-color: var(--cs-accent-light-sm);
}
.cs-dark a,
.cs-dark abbr,
.cs-dark q,
.cs-dark em {
    color: var(--cs-accent-light-sm);
}
.cs-dark cite
.cs-dark strong {
    color: var(--cs-accent-light-lg);
}

.cs-dark textarea {
    border-color: var(--cs-accent-dark-sm);
}
.cs-dark textarea:focus-visible {
    border-color: var(--cs-accent-dark-lg);
    outline: none;
}
.cs-dark input[type=text], .cs-dark input[type=email], .cs-dark input[type=tel], .cs-dark input[type=search],
.cs-dark input[type=password], .cs-dark input[type=number], .cs-dark input[type=color],
.cs-dark input[type=date], .cs-dark input[type=datetime], .cs-dark input[type=datetime-local],
.cs-dark input[type=month], .cs-dark input[type=week], .cs-dark input[type=time] {
    border-color: var(--cs-accent-dark-sm);
}
.cs-dark input[type=text]:focus-visible, .cs-dark input[type=email]:focus-visible, .cs-dark input[type=tel]:focus-visible, .cs-dark input[type=search]:focus-visible,
.cs-dark input[type=password]:focus-visible, input[type=number]:focus-visible, .cs-dark input[type=color]:focus-visible,
.cs-dark input[type=date]:focus-visible, .cs-dark input[type=datetime]:focus-visible, .cs-dark input[type=datetime-local]:focus-visible,
.cs-dark input[type=month]:focus-visible, .cs-dark input[type=week]:focus-visible, .cs-dark input[type=time]:focus-visible {
    border-color: var(--cs-accent-light-sm);
}

.cs-dark button:hover, .cs-dark button:focus-visible,
.cs-dark input[type=button]:hover, .cs-dark input[type=button]:focus-visible,
.cs-dark input[type=submit]:hover, .cs-dark input[type=submit]:focus-visible,
.cs-dark input[type=reset]:hover, .cs-dark input[type=reset]:focus-visible {
    outline-color: var(--cs-accent-light-lg);
}