:root {
    /*External Vars and fallbacks*/
    --cs-main-dark: var(--cs-cfg-main-dark, hsl(0 0% 10%));
    --cs-main-light: var(--cs-cfg-main-light, hsl(0 0% 90%));
    --cs-accent-dark-sm: var(--cs-cfg-accent-dark-sm, hsl(0 0% 25%));
    --cs-accent-dark-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 35%));
    --cs-accent-light-sm: var(--cs-cfg-accent-light-sm, hsl(0 0% 80%));
    --cs-accent-light-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 55%));

    /*Root Css*/
    color-scheme: dark light;
}
/*Schemata */
.cs-light {
    color-scheme: light;
}
.cs-dark {
    color-scheme: dark;
}

.cs-default {
    --cs-main-dark: hsl(0 0% 10%);
    --cs-main-light: hsl(0 0% 90%);
    --cs-accent-dark-sm: hsl(0 0% 25%);
    --cs-accent-dark-lg: hsl(0 0% 35%);
    --cs-accent-light-sm: hsl(0 0% 80%);
    --cs-accent-light-lg: hsl(0 0% 55%);
}
/*Accent Colors*/
.cs-accent-blue {
    --cs-accent-dark-sm: hsl(240 75% 34%);
    --cs-accent-dark-lg: hsl(240 75% 44%);
    --cs-accent-light-sm: hsl(240 75% 74%);
    --cs-accent-light-lg: hsl(240 75% 70%);
}
.cs-accent-blue-yellow {
    --cs-accent-dark-sm: hsl(242 89% 30%);
    --cs-accent-dark-lg: hsl(50 89% 23%);
    --cs-accent-light-sm: hsl(242 89% 75%);
    --cs-accent-light-lg: hsl(50 89% 65%);
}
.cs-accent-orange {
    --cs-accent-dark-sm: #6B3D0B;
    --cs-accent-dark-lg: #96550F;
    --cs-accent-light-sm: #E68217;
    --cs-accent-light-lg: #D96421;
}

/*Main Colors*/
.cs-main-blue {
    --cs-main-dark: hsl(240 20% 10%);
    --cs-main-light: hsl(240, 50%, 90%);
} 

/* Apply Scheme */

html, .cs-light {
    background-color: var(--cs-main-light);
    color: var(--cs-main-dark);
}

hr {
    border-color: var(--cs-accent-dark-sm);
}

blockquote {
    border-color: var(--cs-accent-dark-sm);
}

a, abbr, q, em {
    color: var(--cs-accent-dark-sm);
}
cite, strong {
    color: var(--cs-accent-dark-lg);
}
textarea {
    border-color: var(--cs-accent-light-sm);
}
textarea:focus-visible, textarea:active {
    border-color: var(--cs-accent-light-lg);
    outline: none;
}
input:where([type=text], [type=email], [type=tel], [type=search],
[type=password], [type=number], [type=color],
[type=date], [type=datetime], [type=datetime-local],
[type=month], [type=week], [type=time]) {
    border-color: var(--cs-accent-light-sm);
}
input:where([type=text], [type=email], [type=tel], [type=search],
[type=password], [type=number], [type=color],
[type=date], [type=datetime], [type=datetime-local],
[type=month], [type=week], [type=time]):is(:focus-visible, :active) {
    border-color: var(--cs-accent-light-sm);
}

:where(button, input:is(
    [type=button], [type=submit], input[type=reset]
)):is(:focus-visible, :hover, :active) {
    outline-color: var(--cs-accent-dark-lg);
}

::selection {
    background-color: var(--cs-accent-light-lg);
}

th, td {
    border-color: var(--cs-accent-dark-sm);
}

details summary:first-of-type::marker {
    color: var(--cs-accent-dark-sm);
}
details[open] summary:first-of-type::marker {
    color: var(--cs-accent-dark-lg);
}

/*General dark mode*/
@media(prefers-color-scheme: dark) {
    html, .cs-dark {
        background-color: var(--cs-main-dark);
        color: var(--cs-main-light);
    }
    hr {
        border-color: var(--cs-accent-light-sm);
    }
    blockquote {
        border-color: var(--cs-accent-light-sm);
    }
    
    a, abbr, q, em {
        color: var(--cs-accent-light-sm);
    }
    cite, strong {
        color: var(--cs-accent-light-lg);
    }
    textarea {
        border-color: var(--cs-accent-dark-sm);
    }
    textarea:focus-visible, textarea:active {
        border-color: var(--cs-accent-dark-lg);
        outline: none;
    }
    input:where([type=text], [type=email], [type=tel], [type=search],
        [type=password], [type=number], [type=color],
        [type=date], [type=datetime], [type=datetime-local],
        [type=month], [type=week], [type=time]) {
        border-color: var(--cs-accent-dark-sm);
    }
    input:where([type=text], [type=email], [type=tel], [type=search],
        [type=password], [type=number], [type=color],
        [type=date], [type=datetime], [type=datetime-local],
        [type=month], [type=week], [type=time]):is(:focus-visible, :active) {
        border-color: var(--cs-accent-light-sm);
    }
    
    :where(button, input:is(
        [type=button], [type=submit], input[type=reset]
    )):is(:focus-visible, :hover, :active) {
        outline-color: var(--cs-accent-light-lg);
    }
    ::selection {
        background-color: var(--cs-accent-dark-lg);
    }
    th, td {
        border-color: var(--cs-accent-light-sm);
    }
    details summary:first-of-type::marker {
        color: var(--cs-accent-light-sm);
    }
    details[open] summary:first-of-type::marker {
        color: var(--cs-accent-light-lg);
    }
}

/*Special light mode */
.cs-light hr {
    border-color: var(--cs-accent-dark-sm);
}
.cs-light :where(a, abbr, q, em) {
    color: var(--cs-accent-dark-sm);
}
.cs-light :where(cite, strong){
    color: var(--cs-accent-dark-lg);
}
.cs-light blockquote {
    border-color: var(--cs-accent-dark-sm);
}
.cs-light textarea {
    border-color: var(--cs-accent-light-sm);
}
.cs-light textarea:where(:focus-visible, :active) {
    border-color: var(--cs-accent-light-lg);
    outline: none;
}
.cs-light input:where([type=text], [type=email], [type=tel], [type=search],
    [type=password], [type=number], [type=color],
    [type=date], [type=datetime], [type=datetime-local],
    [type=month], [type=week], [type=time]) {
    border-color: var(--cs-accent-light-sm);
}
.cs-light input:where([type=text], [type=email], [type=tel], [type=search],
    [type=password], [type=number], [type=color],
    [type=date], [type=datetime], [type=datetime-local],
    [type=month], [type=week], [type=time]):is(:focus-visible,:active) {
    border-color: var(--cs-accent-dark-sm);
}

.cs-light :where(button, input:is(
        [type=button], [type=submit], input[type=reset]
    )):is(:focus-visible, :hover, :active) {
    outline-color: var(--cs-accent-dark-lg);
}

.cs-light ::selection {
    background-color: var(--cs-accent-light-lg);
}

.cs-light th,
.cs-light td {
    border-color: var(--cs-accent-dark-sm);
}

.cs-light details summary:first-of-type::marker {
    color: var(--cs-accent-dark-sm);
}
.cs-light details[open] summary:first-of-type::marker {
    color: var(--cs-accent-dark-lg);
}


/*Special dark mode*/
.cs-dark hr {
    border-color: var(--cs-accent-light-sm);
}
.cs-dark :where(a, abbr, q, em) {
    color: var(--cs-accent-light-sm);
}
.cs-dark :where(cite, strong) {
    color: var(--cs-accent-light-lg);
}
.cs-dark blockquote {
    border-color: var(--cs-accent-light-sm);
}
.cs-dark textarea {
    border-color: var(--cs-accent-dark-sm);
}
.cs-dark textarea:where(:focus-visible, :active) {
    border-color: var(--cs-accent-dark-lg);
    outline: none;
}
.cs-dark input:where([type=text], [type=email], [type=tel], [type=search],
    [type=password], [type=number], [type=color],
    [type=date], [type=datetime], [type=datetime-local],
    [type=month], [type=week], [type=time]) {
    border-color: var(--cs-accent-dark-sm);
}
.cs-dark input:where([type=text], [type=email], [type=tel], [type=search],
    [type=password], [type=number], [type=color],
    [type=date], [type=datetime], [type=datetime-local],
    [type=month], [type=week], [type=time]):is(:focus-visible, :active) {
    border-color: var(--cs-accent-light-sm);
}

.cs-dark :where(button, input:is(
        [type=button], [type=submit], input[type=reset]
    )):is(:focus-visible, :hover, :active){
    outline-color: var(--cs-accent-light-lg);
}

.cs-dark ::selection {
    background-color: var(--cs-accent-dark-lg);
}

.cs-dark th,
.cs-dark td {
    border-color: var(--cs-accent-light-sm);
}

.cs-dark details summary:first-of-type::marker {
    color: var(--cs-accent-light-sm);
}
.cs-dark details[open] summary:first-of-type::marker {
    color: var(--cs-accent-light-lg);
}


/*Util Classes*/
.btn-action {
    font-size: var(--ft-size-md, 1.5rem);
    font-weight: 800;
    text-decoration: none;
    padding: .75rem;
    margin: 4px;
    border-radius: 1rem;
    outline-width: 3px;
    outline-offset: -1px;
}

.btn-action,
.cs-light .btn-action {
    border: .1rem var(--cs-accent-dark-sm) solid;
    background-color: var(--cs-accent-light-lg);
    outline-color: var(--cs-main-dark) !important;
}
.cs-dark .btn-action {
    border: .1rem var(--cs-accent-light-sm) solid;
    background-color: var(--cs-accent-dark-lg);
    outline-color: var(--cs-main-light) !important;
}
@media(prefers-color-scheme: dark) {
    .btn-action {
        border: .1rem var(--cs-accent-light-sm) solid;
        background-color: var(--cs-accent-dark-lg);
        outline-color: var(--cs-main-light) !important;
    }
}