:root {
    /*External Vars and fallbacks*/
    --cs-main-dark: var(--cs-cfg-main-dark, hsl(0 0% 10%));
    --cs-main-light: var(--cs-cfg-main-light, hsl(0 0% 90%));
    --cs-accent-dark-sm: var(--cs-cfg-accent-dark-sm, hsl(0 0% 25%));
    --cs-accent-dark-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 50%));
    --cs-accent-light-sm: var(--cs-cfg-accent-light-sm, hsl(0 0% 80%));
    --cs-accent-light-lg: var(--cs-cfg-accent-dark-lg, hsl(0 0% 50%));

    /*Root Css*/
    color-scheme: dark light;
}
/*Schemata */
.cs-light {
    color-scheme: light;
}
.cs-dark {
    color-scheme: dark;
}

.cs-default {
    --cs-main-dark: hsl(0 0% 10%);
    --cs-main-light: hsl(0 0% 90%);
    --cs-accent-dark-sm: hsl(0 0% 25%);
    --cs-accent-dark-lg: hsl(0 0% 50%);
    --cs-accent-light-sm: hsl(0 0% 80%);
    --cs-accent-light-lg: hsl(0 0% 50%);
}
.cs-accent-blue {
    --cs-accent-dark-sm: hsl(240 75% 30%);
    --cs-accent-dark-lg: hsl(240 75% 40%);
    --cs-accent-light-sm: hsl(240 75% 85%);
    --cs-accent-light-lg: hsl(240 75% 70%);
}
.cs-accent-blue-yellow {
    --cs-accent-dark-sm: hsl(240 60% 30%);
    --cs-accent-dark-lg: hsl(49 80% 30%);
    --cs-accent-light-sm: hsl(240 60% 85%);
    --cs-accent-light-lg: hsl(49 60% 75%);
}
.cs-accent-blue-yellow-intense {
    --cs-accent-dark-sm: hsl(240 100% 40%);
    --cs-accent-dark-lg: hsl(49 100% 40%);
    --cs-accent-light-sm: hsl(240 100% 75%);
    --cs-accent-light-lg: hsl(49 100% 75%);
}
.cs-main-blue {
    --cs-main-dark: hsl(240 20% 10%);
    --cs-main-light: hsl(240, 50%, 90%);
} 

/* Apply Scheme */

html, .cs-light {
    background-color: var(--cs-main-light);
    color: var(--cs-main-dark);
}

a, abbr, q, em {
    color: var(--cs-accent-dark-sm);
}
cite, strong {
    color: var(--cs-accent-dark-lg);
}
textarea {
    border-color: var(--cs-cfg-accent-dark-sm);
}
textarea:focus {
    border-color: var(--cs-accent-dark-lg);
}
/*General dark mode*/
@media(prefers-color-scheme: dark) {
    html, .cs-dark {
        background-color: var(--cs-main-dark);
        color: var(--cs-main-light);
    }
    a, abbr, q, em {
        color: var(--cs-accent-light-sm);
    }
    cite, strong {
        color: var(--cs-accent-light-lg);
    }
}

/*Special light mode */
.cs-light a,
.cs-light abbr,
.cs-light q,
.cs-light em {
    color: var(--cs-accent-dark-sm);
}
.cs-light cite,
.cs-light strong{
    color: var(--cs-accent-dark-lg);
}

/*Special dark mode*/
.cs-dark a,
.cs-dark abbr,
.cs-dark q,
.cs-dark em {
    color: var(--cs-accent-light-sm);
}
.cs-dark cite
.cs-dark strong {
    color: var(--cs-accent-light-lg);
}

