.default-h-block-margin {
    margin-block-start: 0.83em;
    margin-inline-end: 0.83em;
}

.colls-3-45ch {
    columns: 3 45ch;
}
.colls-2-45ch {
    columns: 2 45ch;
}

body.square-body  {
    max-width: min(100vh, 100vw);
	max-width: min(100svh, 100vw);
    margin-inline: auto;
}

.sr-only { /*From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034*/
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}
.sr-only-focusable:focus,
.sr-only-focusable:active { /*From https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034*/
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/*Ft Sizes */
.ft-size-nm {
    font-size: var(--ft-size-nm, 1.125rem);
}
.ft-size-md {
    font-size: var(--ft-size-md, 1.5rem);
}
.ft-size-lg {
    font-size: var(--ft-size-lg, 1.75rem);
}
.ft-size-xl {
    font-size: var(--ft-size-xl, 2.5rem);
}
.ft-size-2xl {
    font-size: var(--ft-size-2xl, 3rem);
}
.ft-size-3xl {
    font-size: var(--ft-size-3xl, 3.5rem);
}
.ft-size-4xl {
    font-size: var(--ft-size-4xl, 4.5rem);
}
.ft-size-5xl {
    font-size: var(--ft-size-5xl, 6rem);
}