<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squared Body</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/color-scheme.css">
    <link rel="stylesheet" href="../css/util.css">
    <style>
        body {
            border: 2px dashed red;
            padding: 2ch;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            font-family: serif;
            font-size: 2.5em;
        }
        p {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    </style>
</head>
<body class="square-body">
    <head>
        <h1>Layout: Squared Body View</h1>
        <nav>
            <ul>
                <li><a href="../layout-util.html">Back to all Layouts</a></li>
                <li><a href="../index.html">Back to overview</a></li>
            </ul>
        </nav>
        <i>Use Devtools and Responsive sizing to check effect.</i>
    </head>
    <main>
        <h2>Example Text</h2>
        <p class="colls-4-25ch">
            Nisi occaecat sunt irure occaecat tempor ea. Do occaecat laborum amet laborum aute non aliquip dolor veniam voluptate incididunt aute laborum ex. Sit ea labore ullamco exercitation ex reprehenderit excepteur incididunt velit. Elit ut id labore exercitation culpa ad dolore do voluptate quis.
        </p>
        <p class="colls-3-45ch">
            Qui in id ex voluptate quis fugiat nulla excepteur nisi duis aliqua dolor sint. Nostrud consequat dolor velit id Lorem labore id amet veniam. Ut excepteur labore consectetur ut laboris duis in velit do fugiat.
        </p>
        <p class="colls-3-45ch">
            Ut sint ipsum quis magna irure cupidatat dolor occaecat. Incididunt aliqua duis sunt eu aliquip amet mollit qui mollit irure eu quis. Magna nostrud nostrud adipisicing mollit incididunt ad non pariatur. Cillum sunt officia dolor eiusmod laborum sunt pariatur. Amet proident duis laboris labore aliquip fugiat ullamco in. Eiusmod duis in aliquip sunt.
        </p>
        <p class="colls-3-45ch">
            Consequat non ex proident fugiat esse ullamco minim proident deserunt nulla do dolor minim mollit. Non culpa magna sint aliqua cupidatat. Dolore ullamco enim ut commodo nisi occaecat. Sit irure laborum ipsum qui adipisicing nulla commodo adipisicing veniam exercitation id culpa nisi consectetur. Eu consequat laboris fugiat Lorem eu ut est pariatur ullamco voluptate pariatur eu. Amet amet dolor voluptate pariatur in minim esse occaecat.
        </p>
        <p class="colls-3-45ch">
            Officia officia ex id quis proident esse anim et aute deserunt tempor incididunt Lorem. Esse magna aliquip quis officia. Duis ex ut laborum irure exercitation dolore in labore tempor ut fugiat. Ut non id duis est consectetur do eu. Tempor laborum do occaecat aute commodo dolor esse minim aliquip. Aliquip nulla consequat excepteur fugiat do commodo est.
        </p>
        <p>
            Irure velit ea Lorem ullamco. Veniam irure deserunt quis ipsum tempor ea fugiat pariatur ut velit dolor ipsum ullamco. Amet nostrud do officia id excepteur sint. Qui aute officia sint excepteur id irure ut fugiat tempor ad aute veniam sit in. Ex esse exercitation aute ea ullamco sunt commodo aliqua nostrud. Id Lorem veniam consequat dolore aute ut mollit ut occaecat dolore nulla cillum anim.
        </p>
        <p class="colls-2-45ch">
            Excepteur est ullamco non sunt id ad dolore aliqua non officia id aliquip eu dolor. Commodo voluptate et cillum consequat Lorem in duis voluptate irure do. Veniam aliqua anim veniam pariatur sit irure mollit aliqua tempor eiusmod. Ad qui irure cupidatat officia pariatur ea duis id sunt ullamco non. Sunt qui do veniam esse. Et occaecat id anim mollit tempor dolor irure aute culpa aliqua. Officia excepteur tempor incididunt cillum.
        </p>
        <p class="colls-2-45ch">
            Consectetur consectetur irure aute cupidatat. Aliquip amet et eu quis eu fugiat cupidatat qui velit dolor ex fugiat eu labore. Aute officia tempor elit aliqua in Lorem cupidatat amet aute consequat est. Reprehenderit nostrud fugiat fugiat veniam eu officia velit. Sunt laborum fugiat ipsum irure duis elit ullamco nisi culpa culpa consequat sunt nisi ad. Pariatur esse in esse ea non ad velit occaecat ex eu eiusmod. Velit tempor minim cupidatat ipsum nulla non ut incididunt veniam.
        </p>
        <p class="colls-3-33ch">
            Ut sunt id ullamco labore eu officia magna ullamco esse labore pariatur fugiat. Adipisicing ea anim tempor fugiat ipsum sunt. Non aute sunt eiusmod deserunt ipsum nulla labore. Do culpa consequat consectetur ut cupidatat commodo qui ex ullamco anim. Deserunt dolor eu laboris nulla in Lorem adipisicing.
        </p>
        <p class="colls-4-33ch">
            Commodo nisi ullamco magna amet aute anim aliquip amet eiusmod adipisicing duis. Excepteur ea duis laboris deserunt velit amet ullamco exercitation adipisicing duis dolore excepteur sint. Cillum magna occaecat veniam aute culpa laborum non est et ipsum. Nulla culpa tempor cillum incididunt dolore. Eiusmod excepteur et proident incididunt ullamco nostrud consequat elit dolore. Eiusmod do enim consectetur reprehenderit anim dolor in consectetur commodo enim.
        </p>
    </main>
    <a href="#">Back to beginning</a>
</body>
</html>